<head>
    <link href="@Url.Content("~/Content/CRUD/crud.css")" rel="stylesheet" type="text/css" />
</head>

@model IEnumerable<GymManagementSystem.Models.GoiTap>
@using GymManagementSystem.Models.ViewModels
@{
    ViewBag.Title = "Quản lý Gói Tập";
    var culture = new System.Globalization.CultureInfo("vi-VN");
    var headerViewModel = new AdminPageHeaderViewModel
    {
        Title = ViewBag.Title,
        CreateActionUrl = Url.Action("Create"),
        SearchAction = "Index",
        SearchController = "GoiTaps",
        CurrentFilter = ViewBag.CurrentFilter
    };
}

@Html.Partial("_AdminPageHeader", headerViewModel)

<table class="modern-table">
    <thead>
        <tr>
            <th>Tên Gói Tập</th>
            <th>Giá Tiền</th>
            <th>Buổi với PT</th>
            <th class="text-end">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenGoi</td>
                <td>@item.GiaTien.ToString("N0", culture) đ</td>
                <td>@item.SoBuoiTapVoiPT buổi</td>
                <td>@Html.Partial("_CrudButtons", item.Id)</td>
            </tr>
        }
    </tbody>
</table>