<head>
    <link href="@Url.Content("~/Content/CRUD/crud.css")" rel="stylesheet" type="text/css" />
</head>

@model IEnumerable<GymManagementSystem.Models.BaiTap>
@{ ViewBag.Title = "Quản lý Bài Tập"; }

<!-- Gọi Partial View cho Header -->
@Html.Partial("_AdminPageHeader", new GymManagementSystem.Models.ViewModels.AdminPageHeaderViewModel
{
    Title = ViewBag.Title,
    CreateActionUrl = Url.Action("Create"),
    SearchAction = "Index",
    SearchController = "BaiTaps"
})

<table class="modern-table">
    <thead>
        <tr>
            <th>Tên Bài Tập</th>
            <th>Nhóm Cơ Chính</th>
            <th>Mức Độ</th>
            <th class="text-end">Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenBaiTap</td>
                <td>@item.NhomCoChinh</td>
                <td>@item.MucDo</td>
                <td>@Html.Partial("_CrudButtons", item.Id)</td>
            </tr>
        }
    </tbody>
</table>