    @model GymManagementSystem.Models.KhuyenMai

    @{
        // Khi được gọi bằng AJAX, view này sẽ không sử dụng layout
        if (!Request.IsAjaxRequest())
        {
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
    }

    <!-- Tiêu đề này sẽ được JavaScript lấy để đặt cho Offcanvas -->
    <h2>Sửa thông tin Khuyến mãi</h2>

    @using (Html.BeginForm("Edit", "KhuyenMais", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="mb-3">
            @Html.LabelFor(model => model.TenKhuyenMai, "Tên khuyến mãi", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.TenKhuyenMai, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.MoTa, "Mô tả", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.MaKhuyenMai, "Mã khuyến mãi", htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.MaKhuyenMai, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row mb-3">
            <div class="col">
                @Html.LabelFor(model => model.PhanTramGiamGia, "% giảm", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.PhanTramGiamGia, new { htmlAttributes = new { @class = "form-control", type = "number", step = "0.1" } })
            </div>
            <div class="col">
                @Html.LabelFor(model => model.SoTienGiamToiDa, "Giảm tối đa", htmlAttributes: new { @class = "form-label" })
                @Html.EditorFor(model => model.SoTienGiamToiDa, new { htmlAttributes = new { @class = "form-control", type = "number" } })
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.SoNgayHieuLuc, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.SoNgayHieuLuc, new { htmlAttributes = new { @class = "form-control", type = "number" } })
        </div>
        <div class="form-check form-switch mb-4">
            @Html.CheckBoxFor(model => model.IsActive, new { @class = "form-check-input", role = "switch" })
            @Html.LabelFor(model => model.IsActive, "Kích hoạt", htmlAttributes: new { @class = "form-check-label" })
        </div>

        <div class="offcanvas-footer">
            <div class="d-grid gap-2">
                <input type="submit" value="Lưu Thay Đổi" class="btn btn-offcanvas-primary" />
            </div>
        </div>
    }